/* boss page layout */

.Illust {
  display: grid;
  grid-gap: 10px;
}

.Illustitem {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 575px) {
  .Illust {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .Illust {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .Illust {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* boss page */

.content {
  position: relative;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-overlay {
  background: rgba(0,0,0);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 0;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  left: 50%;
  opacity: 1;
  font-weight: 700;
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 100%;
  left: 50%;
  opacity: 0;
}

.fadeIn-bottom{
  top: 80%;
}

/* boss page spolier */

.content-overlay_spo {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay_spo{
  opacity: 1;
}

.content-details_spo {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  left: 50%;
  opacity: 0;
  font-weight: 700;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details_spo{
  top: 50%;
  left: 50%;
  opacity: 1;
}

/* custom table */

.mytable {
  table-layout:fixed;
  word-break:break-all;
  margin-left:auto; 
  margin-right:auto;
  width: 100%;
  color: #FFF;
}

/* previous and next button */

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.previous {
  background-color: #000;
  color: white;
  float: left;
  font-size: 18px;
  font-weight: 500;
}

.next {
  background-color: #000;
  color: white;
  float: right;
  font-size: 18px;
  font-weight: 500;
}

/* slide toggle in catastrophe page */
.slide-toggle .box-toggle {
  padding: 10px 0 39px; 
}

.slide-toggle .box-toggle .contorol {
  color: #fff;
  overflow: hidden;
  margin-top: 30px;
}
.slide-toggle .box-toggle {
  float: right !important;
}

.content-box {
  padding-top: 10px;
}